.users-wrapper {
    width: 100%;
    height: 100%;
}

.users {
    height: 100%;
    overflow: auto;
}

.user {
    display: flex;
    align-items: center;
    margin: 15px 10px;
    border: 1px solid #000;
    background: #dfe2ee;;
}

.edit-btn,
.delete-btn {
    height: 40px;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
   
}

.edit-btn:hover,
.delete-btn:hover  {
    background-color: #dfe2ee;
}

.user-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #dfe2ee;
    width: 80%;
    overflow: hidden;
    margin: 10px 30px;
}