.message__input-form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(197, 197, 255);
    box-shadow: 3px 2px 20px 7px grey;
}

.message__input {
    height: 50px;
    width: 80%;
    border-radius: 10px 0 0 10px;
    resize: none;
}

.button-send {
    height: 50px;
    padding: 0 10px;
    border-radius: 0 10px 10px 0;
    border: none;
    cursor: pointer;
    font-size: 20px;
   
}

.button-send:hover {
    background-color: #dfe2ee;
}

.button-send:focus,
.button-send:active {
    outline: none;
}

.fa-arrow-circle-up {
    transform: rotate(90deg);
    color: #1068d8;
}

.fa-check-circle {
    color: green;
}