.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 20px;
    align-items: center;
}

.form input {
    width: 180px;
    padding: 3px 5px;
}

.form__title {
    margin-left: 35px;
    color: #313131;
}

.form-wrapper {
    margin-bottom: 5px;
}

.login-wrapper,
.password-wrapper,
.name-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}

.save-btn {
    padding: 7px 18px;
    margin-top: 15px;
    background-color: #DFE2EE;
    font-size: 16px;
    font-weight: 600;
    color: #313131;
    margin-left: 20px;
}