.chat {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #F1F2F6;
  overflow: auto;
  box-shadow: 2px 6px 12px 5px grey;
}

.chat-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .chat-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.chat-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

::-webkit-scrollbar { width: 3px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #d8d8d8; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #c5c5ff; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #666;}

.logo {
  height: 80px;
  display: flex;
  align-items: center;
}

.logo__img {
  width: 80px;
  height: 80px;
  margin: 0 12px;
}

.logo__text {
  font-size: 40px;
  font-weight: 600;
}

footer {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

