* {
    box-sizing: border-box;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #F1F2F6;
    box-shadow: 2px 6px 12px 5px grey;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 20px;
    align-items: center;
}

.login-form input {
    width: 180px;
    padding: 3px 5px;
}

.login-form__title {
    margin-left: 35px;
    color: #313131;
}

.login-wrapper {
    margin-bottom: 5px;
}

.login-wrapper,
.password-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.login-btn {
    padding: 7px 18px;
    margin-top: 15px;
    background-color: #DFE2EE;
    font-size: 16px;
    font-weight: 600;
    color: #313131;
    margin-left: 20px;
}