.editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    background-color: #F1F2F6;
    box-shadow: 2px 6px 12px 5px grey;
}
.editor-title {
    padding-top: 20px;
    text-align: center;
    color: #313131;
}

.editor-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -65px;
}

.editor-textarea {
    width: 90%;
    height: 300px;
    resize: none;
    overflow: auto;
}

.edit-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    margin-top: 20px;
}

.ok-btn,
.cancel-btn {
    padding: 7px 18px;
    background-color: #DFE2EE;
    font-size: 16px;
    font-weight: 600;
    color: #313131;
    margin-right: 5px;
}